ext.zip
log.txt
.DS_Store
*.ncb
*.idb
*.ilk
*.pdb
*.pch
*.lib
*.obj
*.tlog
*.log
*.ipch
*.idb
*.sdf
*.opensdf
*.suo
*.vcproj.*.user
*.vcxproj.user
*.lastbuildstate
*.cache
*.tlh
*.o
*.a
#*.exe
#*.zip
#*.dll
cpprest*d*.dll
cpprest*d*.lib